.selected{
    font-weight: bold;
}

.odd{
    background-color:grey;
}

.even{
    background-color:darkgrey;
}

th{
    text-transform: uppercase;
    padding: 10px;
}

td{
    padding: 10px;
}

table {
    width: 100%;
    cursor: pointer;
}
  